{% extends "base.html" %}
{% load static %}

{% block extra_title %} - Home {% endblock %}
{% block content%}

<!-- include link to search filter dates number of guests 
and search button, only on desktop and tablet view, 
in the bottom of the hero image -->
<div class="filter-container">
    {% include 'filters.html' %}
</div>
<section>
    <div class="container-fluid">
        <div class="row home-landing">
            <div class="col-12">
                <!-- area of hero image -->
                <div id="half-hero">
                    <img src="{% static 'media/hero.gif' %}" alt="hero image" class="half-hero" id="half-hero">
                    <div class="hero-message" id="hero-message">
                        <h2 class="fypg">Find Your perfect getaway</h2>
                        <h3 class="d-lg-none d-md-block">Unwind without compromise</h3>
                        <div class="row">
                            <div class="col-3"></div>
                            <!-- center location and category filter dropdowns -->
                            <div class="col-3 location-btns" id="location-btn">Location <i class="fa fa-caret-down"></i>
                                <div id="location-dropdown">
                                    <ul class="category-location-li">
                                        {% for location in locations%}
                                        <li><a href="#">{{ location }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <div class="col-3 location-btns" id="category-btn">Category <i class="fa fa-caret-down"></i>
                                <div id="category-dropdown">
                                    <ul class="category-location-li">
                                        {% for category in categories %}
                                        <li><a href="#">{{ category }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <div class="col-3"></div>
                        </div>  
                    </div>
                </div>
                {% include 'mobile-image-links.html' %}
            </div>
        </div>
    </div>
    
</section>
<!-- middle section of home page with a fixed image
 and a message that appears on scroll down, 
 only on desktop and tablet view -->
<section>
        <div class="picture-trans">
            <div class="scroll-down-hero-message" id="scroll-down-hero-message">
                <h2>Your perfect getaway</h2>
                <h3 id="change">Unwind without compromise</h3>
            </div>
        </div>
        <img src="/static/media/center_fixed_image_main.jpg" alt="" class="center-image">
</section>

<!-- about section of home page, 
only on desktop view, with 3 boxes for our story, 
our mission and we are here for you -->
<section class="d-lg-block d-md-none">
    <div class="featured-rentals">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h4>
                    About Kosher Getaways
                    </h4>
                    <hr class="homepage-paragragh-hr">
                </div>
            </div>
            <div class="row mt-5">
                <!-- empty column -->
                <div class="col-1"></div>
                <!-- first home page pargraph section -->
                <div class="col-3 homepage-paragragh-box shadow">
                    <img src="media/home_p_p_1.png" alt="kosher getaways" class="homepage-paragragh-image">
                    <div class="image-cover"></div>
                    <div class="content-overlay">
                        <h5 class="featured-sub-header">How to use Kosher Getaways</h5>
                        <p><a href="{% url 'list_home' %}"><em>List your home</em></a> and earn money by renting it out to travelers.</p>
                        <p><a href="{% url 'rentals' %}"><em>Navigate our platform</em></a> and find the perfect getaway for your needs.</p>
                    </div>
                </div>
                <!-- second home page pargraph section -->
                 <div class="col-3 homepage-paragragh-box shadow">
                    <img src="media/home_p_p_2.png" alt="kosher getaways" class="homepage-paragragh-image">
                    <div class="image-cover"></div>
                    <div class="content-overlay">
                        <h5 class="featured-sub-header">Our Promise</h5>
                        <p>Discover our commitment to providing exceptional holiday experiences for the Frum community.</p>
                        <p>We strive to create a platform that fosters trust, reliability, and unforgettable getaways.</p>
                    </div>
                </div>
                <!-- third home page pargraph section -->
                <div class="col-3 homepage-paragragh-box shadow">
                    <img src="media/home_p_p_3.png" alt="kosher getaways" class="homepage-paragragh-image">
                    <div class="image-cover"></div>
                    <div class="content-overlay">
                        <h5 class="featured-sub-header">We are here for you</h5>
                        <p>Our team is dedicated to ensuring you have a seamless and enjoyable experience with every trip.</p>
                        <p>If you have any questions or need assistance, feel free to contact us.</p>
                        <button class="btn btn-btn"><a href="/contact/compose/1">KosherGetaways Admin</a></button>
                    </div>
                </div>
                <!-- empty column -->
                <div class="col-1"></div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block js %}
<script>
    // section for filter dropdown on home page
    var locationBtn = document.getElementById('location-btn');
    var categoryBtn = document.getElementById('category-btn');
    var locationDropdown = document.getElementById('location-dropdown');
    var categoryDropdown = document.getElementById('category-dropdown');
    locationBtn.addEventListener('click', function(){
        if(locationDropdown.style.display === "block"){
            locationDropdown.style.display = "none";
        } else {
            locationDropdown.style.display = "block";
            categoryDropdown.style.display = "none";
        }
    });
    categoryBtn.addEventListener('click', function(){
        if(categoryDropdown.style.display === "block"){
            categoryDropdown.style.display = "none";
        } else {
            categoryDropdown.style.display = "block";
            locationDropdown.style.display = "none";
        }
    });


//   script to animate the hero message on scroll
    var heroMessage = document.getElementById("hero-message");
        window.onscroll = function() {myFunction()};
        
        function myFunction() {
          if (document.documentElement.scrollTop > 350) {
            document.getElementById("scroll-down-hero-message").style.display = "block";
            heroMessage.style.color = "red"
            document.getElementById("half-hero").style.opacity = "1";
            document.getElementById("hero-message").style.display = "none"
            
          } else {
            document.getElementById("half-hero").style.opacity = "0.7";
            document.getElementById("hero-message").style.display = "block"
          }

        }
</script>
{% endblock %}