<div class="container-fluid">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="center">
                To specify unavailable dates for your home, click the button below to add a form for each date range you want to add. Once you have added all the date ranges, click the "Add Unavailable Dates" button to save them.
            </div>
            <button class="btn btn-btn" id="add-form">Add Unavailable Dates</button>
        </div>
        <div class="col-3"></div>
    </div>
</div>