{% extends "base.html" %}
{% load static %}

{% block extra_title %} - Check Out {% endblock %}
{% block extra_class_list%} active{% endblock %}
{% block extra_nav%}{% endblock %}
{% block content%}
<div class="container-fluid">
    <div class="row d-none d-md-block">
        <div class="col-3"></div>
        <div class="col-6">
            
        </div>
        <div class="col-3"></div>
    </div>
    <div class="row">
        <div class="d-none d-md-block col-2"></div>
        <div class="col-12 col-md-8">
            <div class="form-container shadow" id="form-container">
                <h1 class="center form-header mb-5">Check Out</h1>
                <form id="payment-form">
                    <P>Item: Payment for listing of {{ rental.title }}</P>
                    {% if rental.id < 15 %}
                    <p>The full cost of listing {{ rental.title}} is £{{ discounted_from }}</p>
                    <p style="font-size: 1.3rem; padding:20px;"><mark style="background-color: var(--main-background-color);">Thank you {{ rental.owner_name }}! as one of our early listers, you are eligible to a 50% discount!</mark></p>
                    {% endif %}
                    <p>You will be charged £{{ charge_amount }} to list this property.</p>
                    <div id="payment-element"></div>
                    <button id="submit" class="btn btn-btn mt-4">
                        <div class="spinner hidden" id="spinner"></div>
                        <span id="button-text">Pay Securely Now</span>
                    </button>
                </form>
            </div>
        </div>
        <div class="d-none d-md-block col-2"></div>
    </div>
</div>
{% endblock %}
{% block js %}
    <script src="https://js.stripe.com/v3/"></script>
    <script>
        // Initialize Stripe
        var stripe = Stripe('{{ stripe_public_key }}');
        var options = {
            clientSecret: '{{ client_secret }}',
        };

        console.log("Stripe Public Key:", '{{ stripe_public_key }}');
        console.log("Client Secret:", '{{ client_secret }}');


        var elements = stripe.elements(options);
        var paymentElement = elements.create('payment');
        paymentElement.mount('#payment-element');

        const form = document.getElementById('payment-form');
        form.addEventListener('submit', async (event) => {
            event.preventDefault();
            
            const submitButton = document.getElementById('submit-button');
            //submitButton.disabled = true; // Prevent double charging clicks

            // 5. Submit the credentials securely directly to Stripe servers
            const { error } = await stripe.confirmPayment({
                elements,
                confirmParams: {
                    // Where to send users after payment succeeds
                    return_url: window.location.origin + '/rentals/check_out_confirmation/{{ rental.id }}',
                },
            });

            // This only executes if an immediate error occurs (e.g. card declined)
            if (error) {
                const messageContainer = document.getElementById('error-message');
                messageContainer.textContent = error.message;
                submitButton.disabled = false;
            }
        });
    </script>
{% endblock %}