{% extends "base.html" %}
{% load cloudinary_opt %}
{% load dictextras %}

{% load static %}

{% block extra_title %} - {{ user.username }} {% endblock %}
{% block extra_class%} active{% endblock %}

{% block extra_body %}

{% endblock %}
{% block content%}
<h1 style="text-align: center;">Welcome {{ user.username }} to your Dashboard</h1>
<hr>
<div class="container-fluid">
    <div class="row" style="height: 100vh">
        <div class="col-12 col-md-3">
            <h3 class="pt-2 pb-3">Your rentals ({{ rentals.count }})</h3>
            <hr>
            <p>Select a rental to view or edit.</p>
            
            {% for rental in rentals %}
            <div class="dashboard-side-display" id="side-bar-{{ rental.id }}" style="border-radius: 20px; padding:20px; cursor: pointer; {% if rental.active == False %} border: solid 2px red; {% else %} border: solid 2px blue; {% endif %}">
                <h4>{{ rental.title }}</h4>
                <p>{{ rental.location }}</p>
                {% if rental.images.all %}
                {% for i in rental.images.all|slice:":1" %}
                <div class="col-12">
                    <img src="{{ i.image.url|cloud_opt }}" alt="{{ rental.title }}" style="height:70px; width:70px;" loading="lazy">
                </div>
                {% endfor %}
                {% else %}
                <div class="col-12">
                    <img src="/static/media/image_template.png" alt="Awaiting Images" style="height:70px; width:70px;" loading="lazy">
                </div>
                {% endif %}
                {% if rental.active == False %}
                <p>This rental has expired. To relist it, open the rental details in your Dashboard and click "relist".</p>
                {% else %} 
                <p>Your rental is live and visible. Click on the listing to view details, update pricing, or edit your description</p>
                {% endif %}
            </div>
            <hr>
            {% endfor %}
        </div>
        <div class="d-none d-md-block col-md-9 shadow" style="position:relative; z-index: 9999999; background-color: rgba(211, 211, 211, 0.5);">
            <h2 class="pt-3">Your Rental Details</h2>
            <hr>
            {% for rental in rentals %}
                <div id="display-{{ rental.id }}" style="display:none;">
                    <h4>{{ rental.title }}</h4>
                    <p>{{ rental.location }}</p>
                    <p>{{ rental.active }}</p>
                    <p>£{{rental.price }} {{ rental.pricing_type }}</p>
                    <a href="{% url 'edit_home' rental.id %}">Click here to edit this rental</a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
<script>
    {% for rental in rentals %}
    let display{{ rental.id }} = document.getElementById('display-{{ rental.id }}')
    let sideBar{{ rental.id }} = document.getElementById('side-bar-{{ rental.id }}')

    function showItems{{ rental.id }}(){
        display{{ rental.id }}.style.display = "block";
    }

    sideBar{{ rental.id }}.addEventListener("click", showItems{{ rental.id }});
    {% endfor %}
</script>

{% endblock %}