{% extends "base.html" %}
{% load cloudinary_opt %}
{% load dictextras %}

{% load static %}

{% block extra_title %} - {{ user.username }} {% endblock %}
{% block extra_class%} active{% endblock %}

{% block extra_body %}

{% endblock %}
{% block content%}
<h1 style="text-align: center;">Welcome {{ user.username }} to your Dashboard</h1>
<hr>
<div class="container-fluid">
    <div class="row" style="height: 100vh">
        <div class="col-12 col-md-3">
            <h3 class="pt-2 pb-3">Your rentals ({{ rentals.count }})</h3>
            <hr>
            <p>Select a rental to view or edit.</p>
            
            {% for rental in rentals %}
            <div class="dashboard-side-display {% if rental.active == False %} inactive-dashboard {% else %} active-dashboard {% endif %}" id="side-bar-{{ rental.id }}" >
                <h4>{{ rental.title }}</h4>
                <p>{{ rental.location }}</p>
                {% if rental.active == False %}
                <p>This rental has expired. To relist it, open the rental details in your Dashboard and click "relist".</p>
                {% else %} 
                <p><strong>Your rental is live and visible.</strong> <br>Click on the listing to view details, update pricing, or edit your description</p>
                {% endif %}
            </div>
            <hr>
            {% endfor %}
        </div>
        <div class="d-none d-md-block col-md-9 shadow main-dashboard">
            <h2 class="pt-3">Your Rental Details</h2>
            <hr>
            <div>
                {% for rental in rentals %}
                <div class="dashboard-details shadow" id="display-{{ rental.id }}" style="display:none;">
                    <h3>{{ rental.title }}</h3>
                    {% if rental.active == False %}
                    <button class="btn btn-btn" style="position: relative; left:1%; bottom:10%;">
                        <a href="{% url 'check_out' rental.id %}">Relist</a>
                    </button>
                    {% endif %}
                    <button class="btn btn-btn" style="position: relative; left:80%; bottom:10%;" id="close-{{ rental.id }}">Close</button>
                    <table>
                        <thead style="background-color: #fff;">
                            <tr>
                                <th>Category</th>
                                <th>Location</th>
                                <th>Sleeps</th>
                                <th>Bedrooms</th>
                                <th>Bathrooms</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ rental.category }}</td>
                                <td>{{ rental.location }}</td>
                                <td>{{ rental.sleeps }}</td>
                                <td>{{ rental.bedrooms }}</td>
                                <td>{{ rental.bathrooms }}</td>
                                <td>£{{rental.price }} {{ rental.pricing_type }}</td>
                            </tr>
                        </tbody>
                    </table>
                    
                    <h4>Description</h4>
                    <p>{{ rental.description }}</p>
                    <h4>Amenities</h4>
                    <ul class="amenities-overflow">
                    {% for am in rental.amenities %}
                        <li>{{ amenities_choices|dict_get:am }}</li>
                    {% endfor %}
                    </ul>
                    <button class="btn btn-btn"><a href="{% url 'edit_home' rental.id %}">Edit Rental</a></button>
                    <hr>
                    <h4>Images</h4>

                    <div class="images-row">
                        {% if rental.images.all %}
                            {% for i in rental.images.all %}
                                <div class="image-box">
                                    <img src="{{ i.image.url|cloud_opt }}" alt="{{ rental.title }}" style="height:70px; width:70px;" loading="lazy">
                                    <p>{{ i.image_name }}</p>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="image-box">
                                <img src="/static/media/image_template.png" alt="Awaiting Images" style="height:70px; width:70px;" loading="lazy">
                            </div>
                        {% endif %}
                    </div>

                    <button class="btn btn-btn"><a href="{% url 'edit_images' rental.id %}">Edit Images</a></button>
                    <hr>
                    
                    <h4>Availability</h4>
                    {% for available in availability %}
                        <p>
                            <strong>Slot {{ forloop.counter }}</strong>
                            <br>
                             {{ available.start_date }} - {{ available.end_date }}
                        </p>
                        
                    {% endfor %}
                    <button class="btn btn-btn"><a href="{% url 'edit_availability' rental.id %}">Edit Availability</a></button>
                    <hr>
                </div>
                
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
<script>
    {% for rental in rentals %}
    let display{{ rental.id }} = document.getElementById('display-{{ rental.id }}')
    let sideBar{{ rental.id }} = document.getElementById('side-bar-{{ rental.id }}')
    let close{{ rental.id }} = document.getElementById('close-{{ rental.id }}');

    function showItems{{ rental.id }}(){
        display{{ rental.id }}.style.display = "block";
    }

    function hideItems{{ rental.id }}(){
        display{{ rental.id }}.style.display = "none";
    }

    sideBar{{ rental.id }}.addEventListener("click", showItems{{ rental.id }});

    close{{ rental.id }}.addEventListener("click", hideItems{{ rental.id }});
    {% endfor %}
</script>

{% endblock %}