{% extends "base.html" %}
{% load static %}

{% block extra_title %} - Instructions {% endblock %}
{% block extra_class_list%} active{% endblock %}
{% block extra_nav%} {% endblock %}
{% block content%}
<div class="container-fluid">
    <div class="row d-none d-md-block">
        <div class="col-3"></div>
        <div class="col-6">
            
        </div>
        <div class="col-3"></div>
    </div>
    <div class="row">
        <div class="d-none d-md-block col-2"></div>
        <div class="col-12 col-md-8">
            <div class="form-container shadow">
                <h3 class="instructions-header">How to Create Your Listing</h3>
                <ul class="instructions-list">
                    <li class="instruction-step"><div class="step-highlight">Sign In:</div> <div class="instruction-point">All owners must sign in to list a home. Clicking the "List Home" button below will redirect you to log in or register for an account.</div></li>
<li class="instruction-step"><div class="step-highlight">Complete the form:</div> <div class="instruction-point">Fill in all required fields accurately.</div></li>
<li class="instruction-step"><div class="step-highlight">Separate amenities:</div> <div class="instruction-point">Add features separated by commas to create a bulleted list on your page.</div></li>
<li class="instruction-step"><div class="step-highlight">Set nightly rates:</div> <div class="instruction-point">All prices entered into the form are calculated per night.</div></li>
<li class="instruction-step"><div class="step-highlight">Manage availability:</div> <div class="instruction-point">Your property defaults to available; you can add unavailable dates later.</div></li>
<li class="instruction-step"><div class="step-highlight">Label your photos:</div> <div class="instruction-point">Upload as many images as you like, but ensure each has a name or explanation.</div></li>
<li class="instruction-step"><div class="step-highlight">Review listing fees:</div> <div class="instruction-point">Listing your house costs a flat fee equal to 50% of one night's rate.</div></li>
<li class="instruction-step"><div class="step-highlight">Track expiration:</div> <div class="instruction-point">Your property listing will remain valid and live for 30 days.</div></li>
<li class="instruction-step"><div class="step-highlight">Extend your listing:</div> <div class="instruction-point">If you would like to list for longer contact us at office@koshergetaways.co.uk.</div></li>
                </ul>
                <button class="btn btn-btn"><a href="{% url 'list_home' %}">List your Home</a></button>
            </div>
        </div>
        <div class="d-none d-md-block col-2"></div>
    </div>
</div>
{% endblock %}
{% block js %}

{% endblock %}