{% extends "base.html" %}
{% load static %}

{% block extra_title %} - Instructions {% endblock %}
{% block extra_class_list%} active{% endblock %}
{% block extra_nav%} {% endblock %}
{% block content%}
<div class="container-fluid">
    <div class="row d-none d-md-block">
        <div class="col-3"></div>
        <div class="col-6">
            
        </div>
        <div class="col-3"></div>
    </div>
    <div class="row">
        <div class="d-none d-md-block col-2"></div>
        <div class="col-12 col-md-8">
            <div class="form-container shadow">
                <h3 class="instructions-header">How to Create Your Listing</h3>
                <ul class="instructions-list">
                    <li class="instruction-step"><span class="step-highlight">Sign In:</span> All owners must sign in to list a home. Clicking the "List Home" button below will redirect you to log in or register for an account.</li>
                    <li class="instruction-step"><span class="step-highlight">Complete the form:</span> Fill in all required fields accurately.</li>
                    <li class="instruction-step"><span class="step-highlight">Separate amenities:</span> Add features separated by commas to create a bulleted list on your page.</li>
                    <li class="instruction-step"><span class="step-highlight">Set nightly rates:</span> All prices entered into the form are calculated per night.</li>
                    <li class="instruction-step"><span class="step-highlight">Manage availability:</span> Your property defaults to available; you can add unavailable dates later.</li>
                    <li class="instruction-step"><span class="step-highlight">Label your photos:</span> Upload as many images as you like, but ensure each has a name or explanation.</li>
                    <li class="instruction-step"><span class="step-highlight">Review listing fees:</span> Listing your house costs a flat fee equal to 50% of your nightly rate.</li>
                    <li class="instruction-step"><span class="step-highlight">Track expiration:</span> Your property listing will remain valid and live for 30 days.</li>
                    <li class="instruction-step"><span class="step-highlight">Extend your listing:</span> If you would like to list for longer contact us at office@koshergetaways.co.uk.</li>
                </ul>
                <button class="btn btn-btn"><a href="{% url 'list_home' %}">List your Home</a></button>
            </div>
        </div>
        <div class="d-none d-md-block col-2"></div>
    </div>
</div>
{% endblock %}
{% block js %}

{% endblock %}