{% extends "base.html" %}
{% load static %}

{% block extra_title %} - Instructions {% endblock %}
{% block extra_class_list%} active{% endblock %}
{% block extra_nav%} {% endblock %}
{% block content%}
<div class="container-fluid">
    <div class="row d-none d-md-block">
        <div class="col-3"></div>
        <div class="col-6">
            
        </div>
        <div class="col-3"></div>
    </div>
    <div class="row">
        <div class="d-none d-md-block col-2"></div>
        <div class="col-12 col-md-8">
            <div class="form-container shadow">
                <h3 class="instructions-header">How to Create Your Listing</h3>
                <ul class="instructions-list">
                    <li class="instruction-step"><div class="step-highlight">Sign In:</div> <div class="instruction-point">All owners must sign in to list a home. Clicking the "List Home" button below will redirect you to log in or register for an account.</div></li>
<li class="instruction-step"><div class="step-highlight">Complete the form:</div> <div class="instruction-point">Fill in all required fields accurately.</div></li>
<li class="instruction-step"><div class="step-highlight">Select amenities:</div> <div class="instruction-point">Showcase what your property offers by selecting amenities from the list.</div></li>
<li class="instruction-step"><div class="step-highlight">Set rental price:</div> <div class="instruction-point">Set your rental price using one of five flexible options: daily, Shabbos, weekly, monthly, or a flat rate for your entire available duration.</div></li>
<li class="instruction-step"><div class="step-highlight">Manage availability:</div> <div class="instruction-point">Your property defaults to available; you can add unavailable dates later.</div></li>
<li class="instruction-step"><div class="step-highlight">Label your photos:</div> <div class="instruction-point">Upload as many images as you like, but ensure each has a name or explanation.</div></li>
<li class="instruction-step"><div class="step-highlight">Review listing fees:</div> <div class="instruction-point">Listing your house costs a flat fee equal to 50% of one night's rate (free if listed before שבעה עשר בתמוז).</div></li>
<li class="instruction-step"><div class="step-highlight">Track expiration:</div> <div class="instruction-point">Your property listing will remain valid and live for 30 days.</div></li>
<li class="instruction-step"><div class="step-highlight">Extend your listing:</div> <div class="instruction-point">If you would like to list for longer contact us at office@koshergetaways.co.uk.</div></li>
<li class="instruction-step"><div class="step-highlight">Edit your listing:</div> <div class="instruction-point">You can edit all sections of your listing except for the price. To update your listing, log into your account and hover over the account navigation bar. Next, select <strong>Your Rentals</strong> from the drop-down menu. Once your rental loads, click the <strong>Edit This Rental</strong> link and complete the form.</div></li>
                <button class="btn btn-btn"><a href="{% url 'list_home' %}">List your Home</a></button>
            </div>
        </div>
        <div class="d-none d-md-block col-2"></div>
    </div>
</div>
{% endblock %}
{% block js %}

{% endblock %}