{% extends "base.html" %}
{% load static %}

{% block extra_title %} - List Home {% endblock %}
{% block extra_class_list%} active{% endblock %}
{% block extra_nav%} Help{% endblock %}
{% block content%}
<div class="container-fluid">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            
        </div>
        <div class="col-3"></div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <div class="form-container shadow" id="form-container">
                <h1 class="center form-header mb-5">Fill in the Form to list your home</h1>
                <form action="{% url 'list_home' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    {% include 'rentals/add_unavailable.html' %}
                    <button class="btn btn-btn" type="submit">Next</button>
                </form>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
</div>
{% endblock %}
{% block js %}

<script>
    let dateForm = document.querySelector(".form-box");
    let addButton = document.querySelector("#add-form");
    let formSpace = document.querySelector(".next-form");

    addButton.addEventListener('click', addForm);

    function addForm(){
        let newForm = dateForm.cloneNode(true);
        newForm.querySelectorAll('input').forEach(input => {
            input.value = '';
            input.checked = false;
});
        formSpace.parentNode.insertBefore(newForm, addButton);
        
    }
</script>

{% endblock %}