{% extends "base.html" %}
{% load static %}

{% block extra_title %} - Page not Found {% endblock %}
{% block content%}
   <div class="container-fluid">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <h1 style="text-align:center;" class="mb-5">Sorry, we have found a server error (500)</h1>
            
            <a href="{% url 'home' %}">
                <h4 style="text-align:center;" class="mt-5">Return Home</h4>
                <img src="{% static 'media/logo_3.png' %}" alt="logo" class="error-logo">
            </a>
        </div>
        <div class="col-2"></div>
    </div>
   </div>
{% endblock %}