<div class="row mt-5">
    <!-- empty column -->
    <div class="col-1"></div>
    <!-- desktop only -->
    <!-- first home page pargraph section -->
    <div class="col-3 homepage-paragragh-box shadow d-none d-lg-block">
        <img src="media/home_p_p_1.png" alt="kosher getaways" class="homepage-paragragh-image">
        <div class="image-cover"></div>
        <div class="content-overlay">
            <h5 class="featured-sub-header">How to use Kosher Getaways</h5>
            <p><a href="{% url 'list_home' %}"><em>List your home</em></a> and earn money by renting it out to travelers.</p>
            <p><a href="{% url 'rentals' %}"><em>Navigate our platform</em></a> and find the perfect getaway for your needs.</p>
        </div>
    </div>
    <!-- second home page pargraph section -->
     <div class="col-3 homepage-paragragh-box shadow d-none d-lg-block">
        <img src="media/home_p_p_2.png" alt="kosher getaways" class="homepage-paragragh-image">
        <div class="image-cover"></div>
        <div class="content-overlay">
            <h5 class="featured-sub-header">Our Promise</h5>
            <p>Discover our commitment to providing exceptional holiday experiences for the Frum community.</p>
            <p>We strive to create a platform that fosters trust, reliability, and unforgettable getaways.</p>
        </div>
    </div>
    <!-- third home page pargraph section -->
    <div class="col-3 homepage-paragragh-box shadow d-none d-lg-block">
        <img src="media/home_p_p_3.png" alt="kosher getaways" class="homepage-paragragh-image">
        <div class="image-cover"></div>
        <div class="content-overlay">
            <h5 class="featured-sub-header">We are here for you</h5>
            <p>Our team is dedicated to ensuring you have a seamless and enjoyable experience with every trip.</p>
            <p>If you have any questions or need assistance, feel free to contact us.</p>
            <button class="btn btn-btn"><a href="/contact/compose/1">KosherGetaways Admin</a></button>
        </div>
    </div>
    <!-- tablet only -->
    <!-- first home page pargraph section -->
    <div class="col-5 homepage-paragragh-box shadow d-none d-md-block d-lg-none">
        <img src="media/home_p_p_3.png" alt="kosher getaways" class="homepage-paragragh-image">
        <div class="image-cover"></div>
        <div class="content-overlay">
            <h5 class="featured-sub-header">How to use Kosher Getaways</h5>
            <p><a href="{% url 'list_home' %}"><em>List your home</em></a> and earn money by renting it out to travelers.</p>
            <p><a href="{% url 'rentals' %}"><em>Navigate our platform</em></a> and find the perfect getaway for your needs.</p>
            <p>Discover our commitment to providing exceptional holiday experiences for the Frum community.</p>
        </div>
    </div>
    <!-- second home page pargraph section -->
     <div class="col-5 homepage-paragragh-box shadow d-none d-md-block d-lg-none">
        <img src="media/home_p_p_2.png" alt="kosher getaways" class="homepage-paragragh-image">
        <div class="image-cover"></div>
        <div class="content-overlay">
            <h5 class="featured-sub-header">We are here for you</h5>
            <p>Our team is dedicated to ensuring you have a seamless and enjoyable experience with every trip.</p>
            <p>We strive to create a platform that fosters trust, reliability, and unforgettable getaways.</p>
            <p>If you have any questions or need assistance, feel free to contact us.</p>
            <button class="btn btn-btn"><a href="/contact/compose/1">KosherGetaways Admin</a></button>
        </div>
    </div>
    <!-- mobile only -->
    <!-- first home page pargraph section -->
    <div class="col-10 homepage-paragragh-box shadow d-block d-md-none">
        <img src="media/home_p_p_3.png" alt="kosher getaways" class="homepage-paragragh-image">
        <div class="image-cover"></div>
        <div class="content-overlay">
            <h5 class="featured-sub-header">How to use Kosher Getaways</h5>
            <p><a href="{% url 'list_home' %}"><em>List your home</em></a> and earn money by renting it out to travelers.</p>
            <p><a href="{% url 'rentals' %}"><em>Navigate our platform</em></a> and find the perfect getaway for your needs.</p>
            <p>Discover our commitment to providing exceptional holiday experiences for the Frum community.</p>
        </div>
    </div>
    <!-- empty column -->
    <div class="col-1"></div>
</div>