{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block meta %}
    <meta charset="UTF-8">
    <meta name="google-site-verification" content="WWlaC4TMKaC1k_Awauo41J83mPG4OAxyP6EjBpVQQO0" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Discover your perfect kosher getaway with our curated selection of holiday rentals. From charming cottages to luxurious villas, we offer a wide range of accommodations that cater to your kosher lifestyle. Whether you're planning a family hoiday, a wedding, or a chasunah, going away for yom tov, or a group getaway, our platform makes it easy to find and book the ideal kosher rental for your next adventure. Explore our listings today and experience the ultimate in comfort and convenience for your kosher holiday needs.">
    <meta name="description" content="Looking to rent out your home when you are away, list your home for minmum cost to be viewed by many looking for short term rentals">
    <meta name="keywords" content="kosher getaways, kosher holiday rentals, kosher vacation rentals, kosher cottages, kosher villas, kosher accommodations, kosher travel, kosher holiday homes, kosher vacation homes, kosher rental properties, chosson, kallah, wedding, hotel, mechutonim, family vacation, family holiday, group getaway, yom tov rentals, kosher shabbos rentals, kosher yom tov rentals, kosher weddings, kosher group accommodations, kosher family-friendly rentals, kosher holiday destinations">
    <meta name="author" content="Kosher Getaways">  
    {% endblock %}

    {% block corecss%}
    <link rel="icon" href="https://yourdomain.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.14.1/themes/base/jquery-ui.css">
    <!-- FullCalendar CSS -->
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/main.min.css" rel="stylesheet" />

    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://code.jquery.com/ui/1.14.1/jquery-ui.js"></script>
    {% endblock %}


    <title>Kosher Getaways{% block extra_title %} {% endblock %}</title>
</head>
<body>
    <header>
        <nav>
            {% include 'mobile-nav-bar.html'%}
            <div class="container-fluid d-none d-md-block">
                <div class="row nav-bar">
                    <div class=col-2></div>
                    <div class="col-2">
                        <a href="{% url 'home' %}">
                            <img src="{% static 'media/logo_3.png' %}" alt="logo" class="logo">
                        </a>
                        
                    </div>
                    <div class="col-6">
                        <div class="row upper-nav">
                            <div class="col-3 d-lg-block d-none"><a href="{% url 'rentals' %}" class="top-nav-link{% block extra_class%}{% endblock %}">Explore Rentals</a></div>
                            <div class="col-3 d-lg-block d-none"><a href="{% url 'listing_instructions' %}" class="top-nav-link{% block extra_class_list%}{% endblock %}">List your Home</a></div>
                            <div class="col-2 d-lg-block d-none"><a href="/contact/compose/1" class="top-nav-link">Contact</a></div>
                            <div class="col-1 d-lg-block d-none">{% block extra_nav%}{% endblock %}</div>
                            <div class="col-lg-3 col-md-12">
                                <div class="sign-in-box">
                                    {% if request.user.is_authenticated %}
                                    
                                    <span class="user-avatar">{{ user.username|first|capfirst }}</span>
                                    <div class="member-dropdown shadow" id="drop-down">
                                        <ul>
                                            <li style="text-align: center;" class="welcome-name">Welcome <strong>{{ user.username }}!</strong></li>
                                            <hr>
                                            <li><a href="{% url 'rentals' %}?q={{ user }}">Your Rentals</a></li>
                                            <li><a href="{% url 'contacts' %}" class="top-nav-link">Messages ({{ unread_message_count }})</a></li>
                                            <li><a href="{% url 'account_logout' %}" class="top-nav-link">Sign Out</a></li>
                                        </ul>
                                    </div>
                                    {% else %}
                                    <div class="icon">
                                        <i class="fa-solid fa-circle-user"></i>
                                    </div>
                                    <div class="sign-up-dropdown shadow" id="drop-down">
                                        <ul>
                                            <li><a href="{% url 'account_login' %}" class="top-nav-link">Login</a></li>
                                            <li><a href="{% url 'account_signup' %}" class="top-nav-link">Register</a></li>
                                        </ul>
                                    </div>
                                    
                                    {% endif %}
                                </div>
                                <div class="filter-top-mobile d-block d-lg-none">
                                    {% include 'filters_mobile.html' %}
                                </div>
                                <div class="nav-dropdown d-lg-none d-md-block">
                                    
                                    <i class="fa-solid fa-bars"></i>
                                    <div class="mobile-nav-dropdown shadow" id="dropdown">
                                        {% include 'includes/mobile_nav.html' %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% block extra_header %}
                        {% endblock %}
                    </div>
                    <div class="col-2"></div>
                </div>
            </div>
        </nav>
    </header>
    {% if messages %}
        <div id="messages-container">
            <div class="row">
                <div class="col-12">
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                            {{ message }}
                            <div class="message-line"></div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
    {% block content %}
    {% endblock %}
    <!-- <section>
        <div class="picture-trans"></div>
        <img src="/static/media/center_fixed_image.jpg" alt="" class="center-image">
    </section> -->
    
    <div class="footer-border"></div>
    <footer>
        <div class="container-fluid">
            <div class="row top-footer-row">
                <div class="col-lg-3"></div>
                <div class="col-12 col-md-3 col-lg-2 ml-3">
                    <a href="{% url 'home' %}" class="bottom-nav-link">
                        <img src="/static/media/footer-logo.png" alt="logo" class="footer-logo">
                        <p class="footer-logo-p"><strong>KosherGetaways</strong></p>
                        <p class="footer-logo-p2">Your Trusted Source for Kosher Holiday Rentals</p>
                    </a>
                    <p class="footer-row-1">Copyright &copy; {% now "Y" %}</p>
                    <p class="footer-row-1">Website by <a href="https://e-h-dev.github.io/rendcode/" class="bottom-nav-link" target="_blank">rendcode.com</a></p>
                    <P class="footer-row-1">
                        <i class="fa-brands fa-cc-mastercard" style="font-size:2rem"></i>
                        <i class="fa-brands fa-cc-visa" style="font-size:2rem"></i>
                        <i class="fa-brands fa-cc-amex" style="font-size:2rem"></i>
                    </P>
                </div>
                <div class="d-none d-md-block col-md-3 col-lg-2 col-border">
                    <h3 class="text-center">Menu</h3>
                    <ul class="footer-list">
                        <li><a href="{% url 'home' %}" class="bottom-nav-link">Home</a></li>
                        <li><a href="{% url 'rentals' %}" class="bottom-nav-link">Explore Rentals</a></li>
                        <li><a href="{% url 'list_home' %}" class="bottom-nav-link">List Your Home</a></li>
                        {% if request.user.is_authenticated %}
                        <li><a href="{% url 'account_logout' %}" class="bottom-nav-link">Sign Out</a></li>
                        {% else %}
                        <li><a href="{% url 'account_login' %}" class="bottom-nav-link">Sign in</a> / <a href="" class="bottom-nav-link">Register</a></li>
                        {% endif %}
                    </ul>
                </div>
                <div class="col-12 col-md-3 col-lg-2 col-border">
                    <h3 class="text-center">Contact</h3>
                    <ul class="footer-list">
                        <li><a href="/contact/compose/1" class="bottom-nav-link">Leave a Message</a></li>
                        <li><a href="mailto:office@koshergetaways.co.uk" class="bottom-nav-link">office@koshergetaways.co.uk</a></li>
                    </ul>
                </div>
                <div class="col-lg-3"></div>
        </div>
        </div>
    </footer>
    {% block js %}
    
    {% endblock %}
    <script>
        let messageContainer = document.getElementById('messages-container');
        
        setTimeout(() => {
            messageContainer.style.display = 'none';
        }, 3500);
    
    </script>
    <script>

        $( function() {
            $( "#datepicker-in" ).datepicker({
                dateFormat: 'dd-mm-yy',
            });
        } );

        $( function() {
            $( "#datepicker-out" ).datepicker({
                dateFormat: 'dd-mm-yy',
            });
        } );
    </script>
</body>
</html>