<div class="location-date-number-filter d-none d-lg-block shadow">
    <form action="{% url 'rentals' %}" method="GET">
        <input type="text" placeholder="Location" name="q" class="ldnf-input">
        <input type="text" placeholder="Check in" name="check_in" class="ldnf-input" id="datepicker-in">
        <input type="text" placeholder="Check out" name="check_out" class="ldnf-input" id="datepicker-out">
        <!-- <input type="text" placeholder="Check in" onfocus="(this.type='date')"> -->
        <!-- <input type="text" placeholder="Check out" onfocus="(this.type='date')"> -->
        <input type="number" placeholder="Sleeps" name="sleeps" class="ldnf-input">
        <button class="search-icon btn search-btn" type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>
    </form>
</div>

<div class="location-date-number-filter-mobile d-block d-lg-none shadow" id="mobile-filter">
    <form action="{% url 'rentals' %}" method="GET">
        <input type="text" placeholder="Location" name="q" class="mobile-input">
        <input type="text" placeholder="Check in" name="check_in" class="mobile-input" id="datepicker-in">
        <input type="text" placeholder="Check out" name="check_out" class="mobile-input" id="datepicker-out">
        <!-- <input type="text" placeholder="Check in" onfocus="(this.type='date')"> -->
        <!-- <input type="text" placeholder="Check out" onfocus="(this.type='date')"> -->
        <input type="number" placeholder="Sleeps" name="sleeps" class="mobile-input">
        <div class="search-icon" type="submit" id="mobile-filter-search-icon">
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>
    </form>
</div>
