{% extends "base.html" %}
{% load static %}

{% block extra_title %} - Messages {% endblock %}
{% block content%}

<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h1 class="center">Your Messages</h1>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-1">
                
            </div>
            <div class="col-10">
                <div class="messages-container">
                    lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, doloremque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, doloremque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, doloremque. Lorem ipsum dolor sit
                </div>
            </div>
            <div class="col-1"></div>
        </div>
    </div>
</section>

{% endblock %}